.wrap {
    padding:1rem;
    width:91%;
}
.searchBar {
    width:100%;
    border-bottom: 1px solid #343a40;
}
.resultContent {
    padding-top:1rem;
    width: 100%;
    clear: both;
}

#searchName {
    line-height:2.5rem;
    width:85%;
    font-size: 11pt;
    border: none;
}